name: Build Example

on:
  workflow_dispatch:

jobs:
  example:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6-beta

      - name: Npm setup
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install

      - name: Bundle app
        run: zip -r build.zip ./* node_modules
        
      - name: List directories
        run: ls -alhR
