name: NodeJS CI

# Trigger bij push naar main en bij pull requests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v6-beta

      # 2️⃣ Install Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: npm install

      # 4️⃣ Run unit tests and generate coverage
      - name: Run tests and generate coverage
        run: npm test -- --coverage

      # 5️⃣ Upload test results as artifact

      - name: Better Test Reports Action
        uses: mridang/action-test-reporter@v1.7.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          coverage-file: ./coverage/clover.xml
          working-directory: ./ 
