name: Build Example

on:
  workflow_dispatch:

jobs:
  example:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6-beta

      - name: Npm setup
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install

      - name: Bundle app
        run: zip -r build.zip ./* node_modules

      - name: Run tests and create report
        run: |
          npm test -- --reporter junit --reporter-options mochaFile=reports/test-results.xml
        continue-on-error: true

 
      - name: Upload test report
        uses: actions/upload-artifact@v3
        with:
          name: test-report
          path: reports/test-results.xml

